p{
    color: rgb(54, 21, 244);
}
body{
    background-color: yellow;
}
button{
    border-radius: 30px;
    background-color: red;
    color: wheat;
    font: bold;
}
input{
    background-color: green;
}