#container{
    display: block;
    text-align:center;
    font-size: 10em;
    background-color: gray;
}
#btn1{
    background-color: blue;
    color: azure;
    width: 100px;
    height: 50px;
    border-radius: 30px;
}
#btn1:hover{
    background:blueviolet ;
}